USE [master]
GO
/****** Object:  Database [ModeloDeDatos]    Script Date: 7/04/2025 11:41:47 p. m. ******/
CREATE DATABASE [ModeloDeDatos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ModeloDeDatos', FILENAME = N'D:\All SQL\MSSQL16.MSSQLSERVER01\MSSQL\DATA\ModeloDeDatos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ModeloDeDatos_log', FILENAME = N'D:\All SQL\MSSQL16.MSSQLSERVER01\MSSQL\DATA\ModeloDeDatos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ModeloDeDatos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ModeloDeDatos]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 7/04/2025 11:41:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Descripción] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gastos]    Script Date: 7/04/2025 11:41:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gastos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NULL,
	[CategoriaId] [int] NULL,
	[MonedaId] [int] NULL,
	[Monto] [decimal](18, 2) NULL,
	[Fecha] [datetime] NULL,
	[Descripción] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Monedas]    Script Date: 7/04/2025 11:41:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monedas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Código] [varchar](10) NULL,
	[Nombre] [varchar](50) NULL,
	[Símbolo] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Presupuestos]    Script Date: 7/04/2025 11:41:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presupuestos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [int] NULL,
	[CategoriaId] [int] NULL,
	[MonedaId] [int] NULL,
	[Limite] [decimal](18, 2) NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 7/04/2025 11:41:47 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[PasswordHash] [varchar](max) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD  CONSTRAINT [FK_idCategoria] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorias] ([id])
GO
ALTER TABLE [dbo].[Gastos] CHECK CONSTRAINT [FK_idCategoria]
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD  CONSTRAINT [FK_idMoneda] FOREIGN KEY([MonedaId])
REFERENCES [dbo].[Monedas] ([id])
GO
ALTER TABLE [dbo].[Gastos] CHECK CONSTRAINT [FK_idMoneda]
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD  CONSTRAINT [FK_idUsuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Gastos] CHECK CONSTRAINT [FK_idUsuario]
GO
ALTER TABLE [dbo].[Presupuestos]  WITH CHECK ADD  CONSTRAINT [FK2_idCategoria] FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categorias] ([id])
GO
ALTER TABLE [dbo].[Presupuestos] CHECK CONSTRAINT [FK2_idCategoria]
GO
ALTER TABLE [dbo].[Presupuestos]  WITH CHECK ADD  CONSTRAINT [FK2_idMoneda] FOREIGN KEY([MonedaId])
REFERENCES [dbo].[Monedas] ([id])
GO
ALTER TABLE [dbo].[Presupuestos] CHECK CONSTRAINT [FK2_idMoneda]
GO
ALTER TABLE [dbo].[Presupuestos]  WITH CHECK ADD  CONSTRAINT [FK2_idUsuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([id])
GO
ALTER TABLE [dbo].[Presupuestos] CHECK CONSTRAINT [FK2_idUsuario]
GO
USE [master]
GO
